<br style="line-height: 2.0;">
<table style="width: 100%">
    <tr>
        <td width="70%"><em>This is a pdf-generator-email-attachment-playground by Leon Lim.</em></td>
        <td width="30%" style="text-align: right;"><%= Date.today() %></td>
    </tr>
</table>
<br>